{{!-- {{#each this}}
<div class="film">
    <img src="{{poster_path}}" alt="{{title}}" loading="lazy" />
    <div class="film__info">
        <p class="film__title">{{title}}</p>
        <p class="film__genre">{{genre_ids}}<span>{{release_date}}</span></p>
    </div>
</div>
{{/each}}" --}}

 {{!-- var template = Handlebars.compile(`
 <div class="film">
    <img src="{{poster_path}}" alt="{{title}}" loading="lazy" />
    <div class="film__info">
        <p class="film__title">{{title}}</p>
        <p class="film__genre">{{genre_ids}}<span>{{release_date}}</span></p>
    </div>
</div>`);
 
  console.log(template({ results })); --}}